üìì Notebook 1 ‚Äî 01_data_understanding.ipynb

(Carregamento, inspe√ß√£o inicial, estat√≠sticas descritivas, verifica√ß√£o de inconsist√™ncias)

In [28]:
import pandas as pd
import numpy as np

In [29]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 1. Carregar datasets
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
acidentes = pd.read_csv("../datasets/raw/acidentes_meteorologia_sp.csv")
trafego = pd.read_csv("../datasets/raw/mobilidade_urbana_trafego.csv")
transporte = pd.read_csv("../datasets/raw/transporte_publico_politicas_alinhado.csv")

In [30]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 2. Estrutura dos datasets
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
print("ACIDENTES:")
display(acidentes.head())
display(acidentes.info())

print("\nTR√ÅFEGO:")
display(trafego.head())
display(trafego.info())

print("\nTRANSPORTE P√öBLICO:")
display(transporte.head())
display(transporte.info())

ACIDENTES:

,acidente_id,data,hora,tipo_acidente,gravidade,numero_feridos,numero_mortos,via,bairro,categoria_clima,temperatura,humidade,vento
0,1,2024-05-25,01:43,Colis√£o,Leve,0,0,Rua Pio XI,Lapa,Neblina,21.14,87.48,6.98
1,2,2024-07-11,23:10,Capotamento,Leve,0,0,Rua Teodoro Sampaio,Pinheiros,Nublado,24.79,68.97,10.03
2,3,2024-01-12,13:22,Engavetamento,Grave,0,0,Rua Guaicurus,Lapa,Chuva,20.52,74.84,9.79
3,4,2024-04-27,11:57,Choque traseiro,Leve,0,0,Av. dos Eucaliptos,Moema,C√©u limpo,25.63,31.38,1.34
4,5,2024-04-06,16:51,Capotamento,Leve,0,0,Av. dos Eucaliptos,Moema,Chuva,19.99,89.54,10.61

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   acidente_id      8000 non-null   int64
 1   data             8000 non-null   object
 2   hora             8000 non-null   object
 3   tipo_acidente    8000 non-null   object
 4   gravidade        8000 non-null   object
 5   numero_feridos   8000 non-null   int64
 6   numero_mortos    8000 non-null   int64
 7   via              8000 non-null   object
 8   bairro           8000 non-null   object
 9   categoria_clima  8000 non-null   object
 10  temperatura      8000 non-null   float64
 11  humidade         8000 non-null   float64
 12  vento            8000 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 812.6+ KB

None

TR√ÅFEGO:

,trafego_id,data,hora,dia_semana,volume_veiculos,velocidade_media,nivel_congestionamento,rota,via,bairro,poluicao,clima;;;;;;;;;;;;;;;;;;
0,;;;;;;;;;;;;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,;;;;;;;;;;;;;;;;;;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2024-01-12,13:22,Sexta-feira,1640.0,68.95,Baixo,Lapa - Rua Guaicurus,Rua Guaicurus,Lapa,122.49,Chuva;;;;;;;;;;;;;;;;;;
3,4,2024-04-27,11:57,S√°bado,676.0,47.36,M√©dio,Moema - Av. dos Eucaliptos,Av. dos Eucaliptos,Moema,169.17,Ensolarado;;;;;;;;;;;;;;;;;;
4,5,2024-04-06,16:51,S√°bado,1517.0,49.34,M√©dio,Moema - Av. dos Eucaliptos,Av. dos Eucaliptos,Moema,134.31,Chuva;;;;;;;;;;;;;;;;;;

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trafego_id               8000 non-null   object
 1   data                     7998 non-null   object
 2   hora                     7998 non-null   object
 3   dia_semana               7998 non-null   object
 4   volume_veiculos          7998 non-null   float64
 5   velocidade_media         7998 non-null   float64
 6   nivel_congestionamento   7998 non-null   object
 7   rota                     7998 non-null   object
 8   via                      7998 non-null   object
 9   bairro                   7998 non-null   object
 10  poluicao                 7998 non-null   float64
 11  clima;;;;;;;;;;;;;;;;;;  7998 non-null   object
dtypes: float64(3), object(9)
memory usage: 750.1+ KB

None

TRANSPORTE P√öBLICO:

,transporte_id,tipo_transporte,capacidade,velocidade_media,lotacao_media,rota,data,n_passageiros,variacao_trafego,variacao_acidentes
0,1,Trem,1200,68.15,0.57,NaN,NaN,679,NaN,0
1,2,Trem,1200,56.94,0.49,NaN,NaN,585,NaN,0
2,3,Trem,1200,67.24,0.90,Lapa - Rua Guaicurus,2024-01-12,1080,Baixo,0
3,4,Trem,1200,51.52,0.67,Moema - Av. dos Eucaliptos,2024-04-27,803,M√©dio,0
4,5,Metr√¥,1500,54.61,0.58,Moema - Av. dos Eucaliptos,2024-04-06,869,M√©dio,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transporte_id       8000 non-null   int64
 1   tipo_transporte     8000 non-null   object
 2   capacidade          8000 non-null   int64
 3   velocidade_media    8000 non-null   float64
 4   lotacao_media       8000 non-null   float64
 5   rota                7998 non-null   object
 6   data                7998 non-null   object
 7   n_passageiros       8000 non-null   int64
 8   variacao_trafego    7998 non-null   object
 9   variacao_acidentes  8000 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 625.1+ KB

None

In [31]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 3. Dimens√µes e estat√≠sticas b√°sicas
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
for nome, df in {
    "Acidentes": acidentes,
    "Tr√°fego": trafego,
    "Transporte P√∫blico": transporte
}.items():

    print(f"\n==== {nome} ====")
    print("Dimens√£o:", df.shape)
    display(df.describe(include="all"))

==== Acidentes ====
Dimens√£o: (8000, 13)

,acidente_id,data,hora,tipo_acidente,gravidade,numero_feridos,numero_mortos,via,bairro,categoria_clima,temperatura,humidade,vento
count,8000.00000,8000,8000,8000,8000,8000.000000,8000.000000,8000,8000,8000,8000.000000,8000.000000,8000.000000
unique,NaN,301,1435,5,4,NaN,NaN,24,8,4,NaN,NaN,NaN
top,NaN,2024-01-12,07:49,Engavetamento,Leve,NaN,NaN,Rua Em√≠lia Marengo,Santana,Nublado,NaN,NaN,NaN
freq,NaN,42,16,1638,4879,NaN,NaN,379,1039,2723,NaN,NaN,NaN
mean,4000.50000,NaN,NaN,NaN,NaN,0.397125,0.022000,NaN,NaN,NaN,24.017065,66.242270,7.290940
std,2309.54541,NaN,NaN,NaN,NaN,0.815475,0.146693,NaN,NaN,NaN,4.159459,18.714004,4.321691
min,1.00000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,16.000000,30.010000,0.000000
25%,2000.75000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,20.830000,51.567500,3.977500
50%,4000.50000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,23.910000,66.945000,6.640000
75%,6000.25000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,26.692500,83.180000,9.660000
max,8000.00000,NaN,NaN,NaN,NaN,7.000000,1.000000,NaN,NaN,NaN,33.990000,97.980000,20.000000

==== Tr√°fego ====
Dimens√£o: (8000, 12)

,trafego_id,data,hora,dia_semana,volume_veiculos,velocidade_media,nivel_congestionamento,rota,via,bairro,poluicao,clima;;;;;;;;;;;;;;;;;;
count,8000,7998,7998,7998,7998.000000,7998.000000,7998,7998,7998,7998,7998.000000,7998
unique,7999,301,1435,7,NaN,NaN,3,24,24,8,NaN,5
top,;;;;;;;;;;;;;;;;;;,2024-01-12,04:24,Ter√ßa-feira,NaN,NaN,Baixo,Tatuap√© - Rua Em√≠lia Marengo,Rua Em√≠lia Marengo,Santana,NaN,Nublado;;;;;;;;;;;;;;;;;;
freq,2,42,16,1188,NaN,NaN,4507,379,379,1039,NaN,2722
mean,NaN,NaN,NaN,NaN,1290.735559,50.300518,NaN,NaN,NaN,NaN,99.536549,NaN
std,NaN,NaN,NaN,NaN,820.528146,14.723517,NaN,NaN,NaN,NaN,45.827195,NaN
min,NaN,NaN,NaN,NaN,80.000000,15.000000,NaN,NaN,NaN,NaN,20.000000,NaN
25%,NaN,NaN,NaN,NaN,612.250000,41.890000,NaN,NaN,NaN,NaN,60.040000,NaN
50%,NaN,NaN,NaN,NaN,1074.000000,51.605000,NaN,NaN,NaN,NaN,99.440000,NaN
75%,NaN,NaN,NaN,NaN,1967.750000,61.060000,NaN,NaN,NaN,NaN,139.030000,NaN
max,NaN,NaN,NaN,NaN,2999.000000,75.000000,NaN,NaN,NaN,NaN,179.980000,NaN

==== Transporte P√∫blico ====
Dimens√£o: (8000, 10)

,transporte_id,tipo_transporte,capacidade,velocidade_media,lotacao_media,rota,data,n_passageiros,variacao_trafego,variacao_acidentes
count,8000.00000,8000,8000.000000,8000.000000,8000.000000,7998,7998,8000.000000,7998,8000.000000
unique,NaN,5,NaN,NaN,NaN,24,301,NaN,3,NaN
top,NaN,VLT,NaN,NaN,NaN,Tatuap√© - Rua Em√≠lia Marengo,2024-01-12,NaN,Baixo,NaN
freq,NaN,1629,NaN,NaN,NaN,379,42,NaN,4507,NaN
mean,4000.50000,NaN,665.337500,42.251512,0.650332,NaN,NaN,431.710875,NaN,0.397125
std,2309.54541,NaN,564.173774,15.775747,0.179742,NaN,NaN,398.786513,NaN,0.815475
min,1.00000,NaN,80.000000,18.000000,0.200000,NaN,NaN,16.000000,NaN,0.000000
25%,2000.75000,NaN,200.000000,29.290000,0.530000,NaN,NaN,100.000000,NaN,0.000000
50%,4000.50000,NaN,400.000000,36.860000,0.650000,NaN,NaN,251.000000,NaN,0.000000
75%,6000.25000,NaN,1200.000000,56.722500,0.770000,NaN,NaN,777.000000,NaN,0.000000
max,8000.00000,NaN,1500.000000,74.960000,1.240000,NaN,NaN,1794.000000,NaN,7.000000

In [32]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 4. Verificar valores ausentes
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
for nome, df in {
    "Acidentes": acidentes,
    "Tr√°fego": trafego,
    "Transporte P√∫blico": transporte
}.items():

    print(f"\nValores ausentes em {nome}:")
    display(df.isna().sum())

Valores ausentes em Acidentes:

acidente_id        0
data               0
hora               0
tipo_acidente      0
gravidade          0
numero_feridos     0
numero_mortos      0
via                0
bairro             0
categoria_clima    0
temperatura        0
humidade           0
vento              0
dtype: int64

Valores ausentes em Tr√°fego:

trafego_id                 0
data                       2
hora                       2
dia_semana                 2
volume_veiculos            2
velocidade_media           2
nivel_congestionamento     2
rota                       2
via                        2
bairro                     2
poluicao                   2
clima;;;;;;;;;;;;;;;;;;    2
dtype: int64

Valores ausentes em Transporte P√∫blico:

transporte_id         0
tipo_transporte       0
capacidade            0
velocidade_media      0
lotacao_media         0
rota                  2
data                  2
n_passageiros         0
variacao_trafego      2
variacao_acidentes    0
dtype: int64

In [33]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 5. Verificar duplicados
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
print("\nDuplicados:")
print("Acidentes:", acidentes.duplicated().sum())
print("Tr√°fego:", trafego.duplicated().sum())
print("Transporte:", transporte.duplicated().sum())

Duplicados:
Acidentes: 0
Tr√°fego: 1
Transporte: 0

In [34]:
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
# 6. An√°lise de tipos de dados
# ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
for nome, df in {
    "Acidentes": acidentes,
    "Tr√°fego": trafego,
    "Transporte P√∫blico": transporte
}.items():

    print(f"\nTipos de dados ‚Äì {nome}:")
    display(df.dtypes)

Tipos de dados ‚Äì Acidentes:

acidente_id          int64
data                object
hora                object
tipo_acidente       object
gravidade           object
numero_feridos       int64
numero_mortos        int64
via                 object
bairro              object
categoria_clima     object
temperatura        float64
humidade           float64
vento              float64
dtype: object

Tipos de dados ‚Äì Tr√°fego:

trafego_id                  object
data                        object
hora                        object
dia_semana                  object
volume_veiculos            float64
velocidade_media           float64
nivel_congestionamento      object
rota                        object
via                         object
bairro                      object
poluicao                   float64
clima;;;;;;;;;;;;;;;;;;     object
dtype: object

Tipos de dados ‚Äì Transporte P√∫blico:

transporte_id           int64
tipo_transporte        object
capacidade              int64
velocidade_media      float64
lotacao_media         float64
rota                   object
data                   object
n_passageiros           int64
variacao_trafego       object
variacao_acidentes      int64
dtype: object